[{
    "username": "Your Email",
    "password": "Your Password",
    "name": "Your account name"
    "pushSaferToken": "Pushsafer token. Remove this line to disable notification for this account"
}]
