{
    "iftttAppletUrl": "Applet url",
    "languageCode": "en",
    "geoCode": "US",
    "timezone": "-0300",
    "accounts": [{
        "username": "Your Email",
        "password": "Your Password",
        "name": "Your account name"
    }]
}
